.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .question-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .question-box h2 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .question-box p {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #555;
  }
  
  .input-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }
  
  .input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-box input[type="text"],
  .input-box input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons {
    text-align: center;
  }
  .two-line-textarea {
   
    width: 300px; 
    height: 100px;
    display: flex;
    flex-direction: column;
    resize: none; 
  
  }
  .buttons button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .buttons button:last-child {
    margin-right: 0;
  }
  